<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>srf</title>
  <link rel="icon" type="image/png" href="/img/logo.png">
  <link rel="stylesheet" href="/css/{{theme}}.css">
</head>
<body>
  <div id="content">
    {{{body}}}
  </div>
</body>
</html>
