<div class="home {{mode}}">
<h1><a href="/"><img src="img/logo.png"></a>Spaced Repetition Flashcards</h1>
<h2>Admin</h2>
<table>
<tr>
  <td><a href="/templates"><button>Templates</button></a></td>
  <td>View/edit templates</td>
</tr>
<tr>
  <td><a href="/templatesets"><button>Template Sets</button></a></td>
  <td>View/edit template sets</td>
</tr>
<tr>
  <td><a href="/fieldsets"><button>Field Sets</button></a></td>
  <td>View/edit field sets</td>
</tr>
<tr>
  <td><a href="/config"><button>Config</button></a></td>
  <td>View configuration</td>
</tr>
</table>
<div class="buttons">
<a href="/" class="default_action"><button>Home</button></a>
&nbsp;
<a id="button_stats" href="/stats"><button>Stats</button></a>
&nbsp;
<a href="/help" target="_blank"><button>Help</button></a>
</div>
</div>
