<div class="card">
<div> <!-- template in the database has an extra div. This balances until I
can fix the template in the database. Then this will have to go. -->
{{{back}}}
<div class="buttons">
<a href="/again" class="shortcut_j"><button>Again</button></a>
<a href="/hard" class="shortcut_k"><button>Hard</button></a>
<a href="/good" class="shortcut_l"><button>Good</button></a>
<a href="/easy" class="shortcut_semicolon"><button>Easy</button></a>
<a href="/help" target="_blank"><button>Help</button></a>
<a href="/" class="shortcut_b"><button>Break</button></a>
</div>
</div>
