<div class="card">
{{{back}}}
<div class="buttons">
<a href="/again" class="shortcut_j"><button>Hard</button>
<a href="/hard" class="shortcut_k"><button>Hard</button>
<a href="/good" class="shortcut_l"><button>Easy</button>
<a href="/easy" class="shortcut_semicolon"><button>Easy</button>
<a href="/help" target="_blank"><button>Help</button>
</div>
</div>
