<div class="home {{mode}}">
<h1><a href="/"><img src="img/logo.png"></a>Spaced Repetition Flashcards</h1>
<h2>Config</h2>
<pre>
{{{json config 2}}}
</pre>
<div class="buttons">
<a href="/" class="default_action"><button>Home</button></a>
&nbsp;
<a href="/admin"><button>Admin</button></a>
&nbsp;
<a href="/help" target="_blank"><button>Help</button></a>
</div>
</div>
