<div class="card">
{{{front}}}
<div class="buttons">
<span style="font-size: 15px">{{template.id}}</span>
<a href="/card/{{id}}/back?startTime={{cardStartTime}}" class="default_action"><button>Flip</button></a>
<a href="/help" target="_blank"><button>Help</button></a>
<a href="/" class="shortcut_s"><button>Stop</button></a>
</div>
</div>
