<div class="card">
<h1><a href="/">Spaced Repetition Flashcards</a></h1>
<p>This site presents simple flashcards.</p>

<p>The home page shows how many flashcards are currently due and when the next
flashcard is due. If there are flashcards due now, click the Study button
to start studying.</p>

<p>Review the front of the card then click the Flip button to see the back
of the card.</p>

<p>On the back of the card, click Fail, Hard, Good or Easy, depending on
how well you recalled the card. This will schedule the card to be
reviewed again later. The new interval will depend on how well you recalled
the card.</p>

<p>See the README at <a href="https://github.com/ig3/srf">srf on GitHub</a>
for all the details.</p>
</div>
