<div class="card">
<h1><a href="/">Spaced Repetition Flashcards</a></h1>
This site presents simple flashcards.

The home page shows how many flashcards are currently due and when the next
flashcard is due. If there are flashcards due now, click the Study button
to start studying.

x
</div>
