<style>
  th {
    text-align: left;
  }
  td {
    text-align: right;
  }
</style>
<h1>Spaced Repetition Flashcards</h1>
<table>
<tr><th>Cards due now:</th><td>{{dueNow}}</td></tr>
<tr><th>Cards due today:</th><td>{{dueToday}}</td></tr>
<tr><th>Next card due in:</th><td>{{timeToNextDue}}</td></tr>
</table>
{{#if dueNow}}
<a href="/front"><button>Study</button></a>
{{/if}}
<h3>Cards per hour</h3>
<div id="chart1" style="width:600px;height:300px;"></div>
<div class="buttons">
<a href="/help" target="_blank"><button>Help</button></a>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script>
  let chart1 = document.getElementById('chart1');
  Plotly.newPlot(chart1,
    [ {{{chart1Data}}} ], {
      margin: {t: 0},
      yaxis: { title: 'cards' },
      xaxis: { title: 'hour' }
    }
  );
</script>
