<div class="card">
<h1>Spaced Repetition Flashcards</h1>
Cards due now: {{dueNow}}</br>
Next card due in: {{timeToNextDue}}</br>
{{#if dueNow}}
<a href="/front"><button>Study</button></a>
{{/if}}
<div class="buttons">
<a href="/help" target="_blank"><button>Help</button></a>
</div>
</div>
