<style>
  th {
    text-align: left;
  }
  td {
    text-align: right;
  }
</style>
<h1><a href="/">Spaced Repetition Flashcards</a></h1>
<h2>Notes</h2>
<table border="1" class="sortable">
<thead>
  <tr>
    {{#each notes.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each notes}}
    <tr>
      {{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
<script src="js/sorttable.js"></script>
<script>
  document.querySelectorAll('table tr')
  .forEach(e => e.addEventListener('click', (event) => {
    const cells = event.currentTarget.getElementsByTagName('td');
    window.open('/note/' + cells[0].innerText, 'Edit Note',
      'height=800,width=600');
  }));
</script>
