body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #222;
  box-sizing: border-box;
}
h1,h2,h3 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
}
h1 img {
  padding-left: 20px;
  padding-right: 20px;
  width: 60px;
}
br {
  display: block;
  height: 0;
}
.home {
  color: lightgrey;
  min-height: 100%;
  box-sizing: border-box;
}
.home table {
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#content {
  min-height: 100%;
  box-sizing: border-box;
  padding: 5px;
  background: #222;
  color: lightgray;
}
#content .status {
  padding: 20px;
}
.buttons {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
#card-contents img {
  max-width: 50%;
  max-height: 50%;
}
audio {
  display: none;
}
#signal {
  position: fixed;
  right: 0;
  text-align: right;
}
#signal img {
  height: 24px;
}
.chart {
  height: 250px;
  width: 100%;
  box-sizing: border-box;
}

a:visited {
  color: lightgray;
}

.status th {
  text-align: left;
}
